.container {
  margin: 0 auto;
  width: calc(100% - 3rem);
  max-width: 300px;
  font-family: "-apple-system", system-ui, helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: var(--primary-width);
  font-size: 0.85rem;
}

label {
  font-weight: bold;
}

input,
li {
  padding: 0.5rem var(--inline-padding);
}

input,
ul {
  border: 1px solid var(--primary-color);
}

input,
button {
  border-radius: var(--primary-radius);
}

input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: gray;
}

input[type="text"]:focus {
  outline: none;
}

button {
  background-color: #fdd61c;
  height: 0%;
  padding: 0.55rem var(--inline-padding);
  border: none;
  align-self: flex-end;
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  list-style: none;
  font-weight: bold;
  font-size: 0.85rem;
  width: var(--primary-width);
  border-top: 0;
  border-bottom-left-radius: var(--primary-radius);
  border-bottom-right-radius: var(--primary-radius);
}

ul li:hover {
  background-color: var(--primary-color);
}
