<div class="container">
  <h1>Marvel Character</h1>
  <form (ngSubmit)="getMutantProfile()">
    <div class="form-group">
      <label for="query">Search</label>
      <input
        type="text"
        name="query"
        [(ngModel)]="query"
        (ngModelChange)="searchMutant($event)"
        id="query"
      />
    </div>
    <button type="submit">Search</button>
  </form>
  <ul role="listbox" *ngIf="displayElement">
    <li role="listitem" *ngFor="let mutant of results" (click)="printAlert($event)">{{ mutant.name }}</li>
  </ul>
</div>
